<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BugTrackingSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.elementool.com/WebServices/BugTracking.asmx"
                binding="basicHttpBinding" bindingConfiguration="BugTrackingSoap"
                contract="Elementool.BugTracking.BugTrackingSoap" name="BugTrackingSoap" />
        </client>
    </system.serviceModel>
</configuration>